name: Build and Push lsst/sciplat to Harbor

on:
  push:
    branches:
      - deploy # Or your desired branch

  jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to Harbor
          uses: docker/login-action@v3
          with:
            registry: images.canfar.net # Replace with your Harbor registry URL
            username: ${{ secrets.CANFAR_USERNAME }}
            password: ${{ secrets.CANFAR_IMAGES_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: images.canfar.net/lsst/sciplat-lab:latest # Replace with your image name and tag
